/* body {
  /* Aquí el origen de la imagen */

  /* background-image: url('../pictures/fondo.jpeg');
  /* Fijar la imagen de fondo este vertical y */
    /* horizontalmente y centrado */
  /* background-position: center; */ 

  /* Esta imagen no debe de repetirse */
  /* background-repeat: no-repeat; */

  /* COn esta regla fijamos la imagen en la pantalla. */
  /* background-attachment: fixed; */

  /* La imagen ocupa el 100% y se reescala */
  /* background-size: cover; */

  /* Damos un color de fondo mientras la imagen está cargando  */
  /* background-color: #464646;
} */
